h1 {color: rgb(248, 10, 10);font-family: sans-serif;}
h4 {font-size: 20px;color: rgb(234, 250, 8);font-family: sans-serif;}
li{color: rgb(234, 250, 8);font-family: sans-serif;}
h2{color: rgb(234, 250, 8);font-family: sans-serif;}
table{color: rgb(234, 250, 8);font-family: sans-serif;}
image{widows: 200px;}
body {background-image: url(/img/műhely.jpg);
background-repeat: no-repeat; background-size: 2000px;
background-position: center; background-attachment: ;}
a{color: aliceblue;}